@import "land";
@import "rest";

// imported
.overlay-block {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.55);
  overflow: hidden;
  transition: all 700ms ease;
  opacity: 0;
  border-bottom: .3em solid transparent;
  
    h2 {
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
    }

  &:hover, &:focus {
    opacity: 1;
  }
}

#foundation {
  background: #B2DCE5;
}
#angular {
  background: #E6474D;
}
#bootstrap {
  background: #573B7E;
}
#yeoman{
  background: #FCAF17;
}
#grunt{
  background: #5E442C;
}
#rails {
  background: #9D2F39;
}
