.intro {
  @include outer-container;
  padding: 4em;
}

.intro-img {
  @include span-columns(3);
  
  img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    float: right;
  }
}

.intro-text {
  @include span-columns(8);
  text-align: left;
  
  .intro-sub {
    margin-top: -1em;
  }
}

.portfolio-row {
  background: red;
  
  .portfolio-header {
    @include span-columns(12);
  }
}
