.intro-holder {
	position: absolute;
	top: 22vh;
	left: 40%;
	height: auto;
	width: 20em;
	background: rgba(103, 195, 151, .75);
	-webkit-box-shadow: 10px 10px 60px 0px rgba(40,57,71,1);
	-moz-box-shadow: 10px 10px 60px 0px rgba(40,57,71,1);
	box-shadow: 10px 10px 60px 0px rgba(40,57,71,1);
}

.info-holder {
	position: relative;
	right: 0;
	padding: 0em 3em 4em 3.5em;
	float: right;
}

a {
	color: #fff;
}

.bar {
	height: 1px;
	width: 93%;
	margin: 1em 0 1em 0;
	background:$main-green;
}

.info-holder h1 {
	font-size: 32px;
	color: #fff;
	text-align: center;
	margin: 1.2em 5% 0 0;
}

.intro-button {
	background: rgba(103, 195, 151, .75);
	margin-top: 2em;
	height: auto;
	padding: .50em 2em 2em 2em;
	width: auto;
	text-align: center;
	transition: all 500ms ease-in;
	
}

.intro-button:hover {
	background: rgba(103, 195, 151, .50);
	outline: none;
}
