.intro-holder {
	position: absolute;
	top: 30%;
	right: 40%;
	height: 20em;
	width: 20em;
	background:#67c397;
	-webkit-box-shadow: 10px 10px 60px 0px rgba(40,57,71,1);
	-moz-box-shadow: 10px 10px 60px 0px rgba(40,57,71,1);
	box-shadow: 10px 10px 60px 0px rgba(40,57,71,1);
}

.info-holder {
	position: relative;
	right: 0;
	padding: 1em .75em 1.5em 1.5em;
	float: right;
}

a {
	color: #fff;
}

.bar {
	height: 1px;
	width: 93%;
	margin: 1em 0 1em 0;
	background:$main-green;
}

.info-holder h1 {
	font-size: 32px;
	color: #fff;
	text-align: center;
	margin: 1.2em 5% 0 0;
}

.intro-button {
	outline: 1px solid $main-green;
	height: 2em;
	line-height: 1.90em;
	width: 10em;
	font-size: 16px;
	padding: 1em;
	text-align: center;
	transition: all 500ms ease-in;
	margin: 1em 1em 0 0;
}

.intro-button:hover {
	background: $main-green;
}
