.slideOut {
  position: fixed;
  z-index: 0;
  left: 0;
  height: 100%;
  width: 15%;
  background: #f1f1f1;
  @media (max-width: 62em) {
    width: 25%;
  }

  @media (max-width: 43em) {
    width: 50%;
  }
}

nav.slideNav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  a {
    font-family: $font;
    font-size: 1.25em;
    display: block;
    padding: .5em 0;
    text-align: center;
    transition: all 400ms ease;
    color: #444;


    &:after {
      content: '';
      transition: all 500ms ease;
      display: block;
      margin: .5em auto .5em auto;
      width: 0;
      height: 1px;
      @include main-alpha(.5);
    }

    &:hover {
      &:after {
        width: 100% !important;
      }
    }
  }
}

#nav {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  margin: 2em;
  transition: all 400ms ease;
  padding: 3px 10px 3px;
  background: rgba(0,0,0,.25);

  @media (max-width: $on-palm) {
    margin: 1em;
  }

  i {
    font-size: 2.5em;
    color: #fff;
  }
}

.nav-active {
  transform: translateX(15%);

  @media (max-width: 62em) {
    transform: translateX(25%);
  }

  @media (max-width: 43em) {
    transform: translateX(50%);
  }
}

.page-overlay {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(0,0,0,.75);
  cursor: pointer;
  top: 0;
  left: 0;
}
