.header {
  text-align: center;
  margin-bottom: 2em;

  &:after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 5em;
    height: 1px;
    margin-top: 1em;
    @include main-alpha(.5);
  }
}

.text-center {
  text-align: center;
}

.center {
  display: block;
  margin: 0 auto;
}

.padding {
  padding: 3em 1em;
}

.lock-x {
  overflow-x: hidden !important;
}
