// Typography
$font-family-main: 'Quicksand', Helvetica, Arial, sans-serif;
$font-family-headings: 'Quicksand', Helvetica, Arial, sans-serif;
$font-size: 1.25em;
$font-w-body: 300;
$font-w-h: 400;
$font-w-title: 300;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #384f61;
$background-color: #3D5466;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #fff;
$link-color: #67c397;
$selection-color: #D4D4D4; // visible when highlighting text

// Header colours
$header-link-color: #fff;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #67c397;
$header-desc-text-color: #FFF;
