.skills {
  border: 5px solid #4c6477;
  padding: 1em;
  margin-top: .5em;
  transition: all 500ms ease-in-out;
}

.skills:hover {
  background: #4c6477;
}

.bigger {
  font-size: 19.5px;
}

@media (max-width: 800px) {
  .skills {
      border: 3px solid #4c6477;;
  }
}
